@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/roboto-black-webfont.eot");
    src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-black-webfont.woff2") format("woff2"),
         url("../fonts/roboto-black-webfont.woff") format("woff"),
         url("../fonts/roboto-black-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto-bold-webfont.eot");
    src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
         url("../fonts/roboto-bold-webfont.woff") format("woff"),
         url("../fonts/roboto-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium-webfont.eot");
    src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
         url("../fonts/roboto-medium-webfont.woff") format("woff"),
         url("../fonts/roboto-medium-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular-webfont.eot");
    src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
         url("../fonts/roboto-regular-webfont.woff") format("woff"),
         url("../fonts/roboto-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}








html {
	padding: 0;
	margin: 0;
}

body {
	font: 16px / 22px "Roboto Medium", Helvetica, sans-serif;
	
	color: #ffffff;
	background: #849d8f;
}

h1 {
	margin-top: 0px;

	font: 35px / 41px "Roboto Bold", Helvetica, sans-serif;

	color: #ffffff;
}

h2 {
	font: 35px / 41px "Roboto Bold", Helvetica, sans-serif;

	color: #ffffff;
}

a {
	color: white;
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn,
.subscribe-form input[type="submit"] {
	display: inline-block;
	
	vertical-align: top;
	background: linear-gradient(to bottom, #f16742, #e54a35);
}

.hide {
	display: none;
}











.main-header {
	padding-top: 9px;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0px 27px;
}

.main-header .logo {
	float: left;
	margin-left: -6px;
}




.main-navigation {
	position: relative;
	
	float: left;
	margin-top: 20px;
	margin-left: 17px;
	
	font: 0 / 18px "Roboto Bold", Helvetica, sans-serif;
}

.main-navigation ul {
	padding-left: 0;
	list-style: none;
}

.main-navigation-item {
	display: inline-block;
	margin-right: 2px;
	
	font-size: 16px;
	vertical-align: top;
}

.main-navigation-item > a {
	padding: 4px 13px 6px 13px;

	border-radius: 15px;
}

.main-navigation-item > a:hover {
	background: #f7f6f3;
	color: #333333;
}




.main-navigation-catalog:hover .sub-menu {
	display: block;
}

.main-navigation-catalog .sub-menu {
	position: absolute;
	top: 31px;
	left: -7px;
	
	width: 143px;
	
	background: #f8f7f4;
}

.sub-menu  {
	border-radius: 5px;
}

.sub-menu a {
	display: block;
	
	padding: 9px;
	padding-bottom: 6px;
	padding-left: 20px;
	
	color: #323232;
}

.sub-menu li:last-child a {
	margin-bottom: 8px;
	/*padding-bottom: 14px;*/
}

.sub-menu a:hover {
	background: #fbded7;
}

.sub-menu .sub-menu-header {
	margin: 0 9px 0 6px;
	padding: 10px 10px 12px 14px;
	
	font: 14px / 16px "Roboto Bold", Helvetica, sans-serif;
	
	border-bottom: 1px solid #d1d0ce;
}

.sub-menu a:not([class="sub-menu-header"]) {
	font: 14px / 16px "Roboto Regular", Helvetica, sans-serif;
}






.user-block {
	float: right;
	margin-top: 14px;
	
	font: 14px / 16px "Roboto Medium", Helvetica, sans-serif;
}

.user-block a {
	display: inline-block;
	padding: 7px 0 9px 44px;
	margin-left: 5px;
	
	vertical-align: middle;
	
	background: #9db1a5 no-repeat;
	border-radius: 15px;
}

.user-block a:hover {
	background-color: #f7f6f3;
	color: #333333;
}

.user-block .search {
	padding: 16px;
	
	background-image: url(../img/search-icon.svg);
	background-position: center;
}

.user-block .search:hover {
	background-image: url(../img/search-icon-active.svg);
}

.user-block .login {
	padding-right: 17px;
	margin-left: 7px;
	
	background-image: url(../img/login-icon.svg);
	background-position: 16px center;
}

.user-block .login:hover {
	padding-right: 17px;
	margin-left: 7px;
	
	background-image: url(../img/login-icon-active.svg);
	background-position: 16px center;
}

.user-block .bucket-empty,
.user-block .bucket-full {
	padding-right: 35px;
	background-position: 16px center;
}

.user-block .bucket-empty {
	background-image: url(../img/bucket-empty.svg);
}

.user-block .bucket-empty:hover {
	background-image: url(../img/bucket-empty-active.svg);
}

.user-block .bucket-full {
	background-image: url(../img/bucket-full.svg);
}

.header-contacts {
	float: right;
	clear: right;
}

.header-contacts p {
	margin: 0;
	margin-top: 20px;
	width: 180px;
	
	text-align: right;
}










.slider {
	background: url(../img/slider-icecream.png) no-repeat center;
}

.slider p {
	padding: 0 240px;
	padding-top: 270px;
	margin: 0;
	
	font-size: 60px;
	line-height: 60px;
}

.slider-controls {
	text-align: center;
	padding: 40px 0;
}

.slider-controls .slider-selectors {
	float: left;
	padding-top: 20px;
}

.slider-selectors .selector {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 4px;
	
	vertical-align: top;
	border: 3px solid white;
	border-radius: 50%;
}

.slider-selectors .selected {
	background: white;
}

.slider-btn {
	padding-top: 20px;
	
	font-size: 32px;
	
	border-radius: 30px;
	background: linear-gradient(to bottom, #f26843, #db442c);
}






.stock {
	width: 520px;
	padding: 23px 20px;
	padding-top: 16px;
	margin-bottom: 40px;
	
	border-radius: 15px;
}

.stock .btn {
	float: right;
	height: 46px;
	padding: 0 22px;
	padding-top: 12px;
	margin-top: 27px;
	
	border-radius: 20px;
}

.stock h2 {
	margin-top: 0;
	margin-bottom: 14px;
}

.stock p {
	margin-top: 14px;
	
	font-size: 18px;
}

.raspberry {
	float: left;
	
	background: url(../img/stock-raspberry.jpg) no-repeat;
}

.chocolate {
	float: right;
	
	background: url(../img/stock-chocolate.jpg) no-repeat;
}






.products {
	margin-bottom: 40px;
}

.products ul {
	margin: 0px;
	padding: 0px;
}

.product {
	float: left;
	width: 267px;
	margin-right: 26px;
}

.products li {
	margin-bottom: 40px;
} 

.product:nth-child(4n) {
	margin-right: 0;
}

.product-photo-container {
	width: 267px;
	height: 267px;
	
	border-radius: 50%;
	overflow: hidden;
}

.product p {
	margin: 0;
	
	text-align: center;
}

.hit-container {
	width: 61px;
	height: 61px;
	
	border-radius: 50%;
	overflow: hidden;
}






.features-container {
	margin-bottom: 40px;
	padding: 10px 30px;
	
	background: url(../img/features.jpg);
	border-radius: 15px;
	color: #323232;
}

.features-title {
	font-size: 24px;
}

.features-left-column {
	float: left;
}

.features-right-column {
	float: right;
}

.feature {
	width: 470px;
	padding-left: 70px;
	
	font-family: "Roboto Regular", Helvetica, sans-serif;
}

.feature p {
	margin: 0;
}

.feature-production {
	background: url(../img/feature-icecream.png) no-repeat;
}

.feature-natural {
	background: url(../img/feature-leaf.png) no-repeat;
}

.feature-cooperation {
	background: url(../img/feature-cow.png) no-repeat;
}

.feature-termopack {
	
	background: url(../img/feature-thermometer.png) no-repeat;
}






.advanced-options {
	margin-bottom: 40px;
}

.blog {
	float: left;
	width: 520px;
	padding: 0 20px;
	
	border-radius: 15px;
	background: url(../img/blog.jpg) no-repeat;
	color: #323232;
}

.blog p {
	width: 300px;
	margin-bottom: 107px;
}

.blog a {
	font-size: 24px;
	
	color: #323232;
}

.subscribe {
	float: right;
	width: 520px;
	padding: 0 20px;
	padding-top: 18px;
	
	border-radius: 15px;
	background: url(../img/subscribe.jpg) no-repeat;
	color: #5a5a5a;
}

.subscribe-form {
	margin-bottom: 76px;
}

.subscribe-form input[type="submit"] {
	
}






.map-contacts {
	height: 430px;
		
	color: #323232;
	background: url(../img/map.jpg) no-repeat;
	background-size: 100%;
}

.map-contacts-container {
	width: 250px;
	padding: 30px 25px;

	background: #fefefe;
	border-radius: 15px;
}

.map-contacts .btn {
	display: inline-block;
	padding: 12px 26px;
	padding-bottom: 15px;
	
	font-size: 18px;
	
	vertical-align: top;
	border-radius: 30px;
}






.main-footer {
	
}

.footer-social {
	float: left;
	padding-top: 35px;
}

.footer-social .social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 12px;
	
	vertical-align: top;
	background-color: #c2cec7;
	border-radius: 50%;
}

.social-btn-tw {
	background: url(../img/tweeter.svg) center no-repeat;
}

.social-btn-inst {
	background: url(../img/instagram.svg) center no-repeat;
}

.social-btn-fb {
	background: url(../img/fb.svg) center no-repeat;
}

.social-btn-vk {
	background: url(../img/vk.svg) center no-repeat;
}

.footer-menu {
	float: left;
	padding: 0 200px;
	
	text-align: center;
}

.footer-menu ul {
	list-style: none;
}

.copyright {
	float: right;
	padding-top: 20px;
}

.copyright p {
	margin: 0;
}





.breadcrumbs ul {
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
	
	vertical-align: top;
}

.breadcrumbs li:last-child a {
	text-decoration: none;
}






.filters {
	margin-bottom: 40px;
}


.filter {
	display: inline-block;
	padding: 5px 20px;
	margin-right: 10px;
	
	border-radius: 20px;
	background: #aabab0;
	vertical-align: top;
}

.popularity-filter select {
	border: none;
	background: #aabab0;
}





.paginator {
	text-align: right;
}