@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/roboto-black-webfont.eot");
    src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-black-webfont.woff2") format("woff2"),
         url("../fonts/roboto-black-webfont.woff") format("woff"),
         url("../fonts/roboto-black-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto-bold-webfont.eot");
    src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
         url("../fonts/roboto-bold-webfont.woff") format("woff"),
         url("../fonts/roboto-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium-webfont.eot");
    src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
         url("../fonts/roboto-medium-webfont.woff") format("woff"),
         url("../fonts/roboto-medium-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular-webfont.eot");
    src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
         url("../fonts/roboto-regular-webfont.woff") format("woff"),
         url("../fonts/roboto-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}








html {
	padding: 0;
	margin: 0;
}

body {
	font: 16px / 22px "Roboto Medium", Helvetica, sans-serif;
	
	color: #ffffff;
	background: #849d8f;
}

h1 {
	margin-top: 0px;

	font: 35px / 41px "Roboto Bold", Helvetica, sans-serif;

	color: #ffffff;
}

h2 {
	font: 35px / 41px "Roboto Bold", Helvetica, sans-serif;

	color: #ffffff;
}

a {
	color: white;
	text-decoration-color: #9db1a5;
}

a:hover,
a:active {
	color: #ffbc9e;
	text-decoration-color: #ffbc9e;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn,
input[type="submit"] {
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	
	font: 18px / 24px "Roboto Bold", Helvetica, sans-serif;
	
	background: linear-gradient(to bottom, #f16742, #e54a35);
	border-radius: 20px;
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 #9e4334;
	outline: none;
	border: none;
	text-decoration: none;
}

.btn:hover,
input[type="submit"]:hover {
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
	color: white;
	box-shadow: 0 2px 2px 0 #ac1000;
	outline: none;
	border: none;
}

.btn:active,
input[type="submit"]:active {
	background: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px 0 #ac1000;
	outline: none;
	border: none;
}

.field-container input,
.field-container textarea {
	padding: 10px 15px;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

.field-container input:hover,
.field-container textarea:hover {
	box-shadow: 0 0 0 1px #d3d3d2;
}

.field-container input:focus,
.field-container textarea:focus {
	box-shadow: 0 0 0 1px #8fbdec;
	outline: none;
}

.field-container input:focus + label,
.field-container textarea:focus + label {
	display: inline;
	color: #8fbdec;
}

/*Не работает даже с префиксами*/
.field-container input:focus::placeholder,
.field-container textarea:focus::placeholder {
	color: transparent;
}

/*Как проверить, что поле заполнено?*/

.field-container {
	position: relative;
}

.subscribe-form .field-container {
	display: inline-block;
	vertical-align: top;
}

.field-container label {
	position: absolute;
	top: -15px;
	left: 10px;
	
	font: 11px / 13px "Roboto Regular", Helvetica, sans-serif;
}

.hide {
	display: none;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0px 27px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.5);
}











.main-header {
	padding-top: 9px;
	margin-bottom: 30px;
}

.main-header .logo {
	float: left;
	margin-left: -6px;
}




.main-navigation {
	position: relative;
	
	float: left;
	margin-top: 20px;
	margin-left: 17px;
	
	font: 0 / 18px "Roboto Bold", Helvetica, sans-serif;
}

.main-navigation ul {
	padding-left: 0;
	
	list-style: none;
}

.main-navigation-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
	
	font-size: 16px;
}

.main-navigation-item > a {
	padding: 4px 13px 6px 13px;

	text-decoration: underline;
	-webkit-text-decoration-color: #9db1a5; /*Не работает в Chrome*/
	text-decoration-color: #9db1a5;
	/*Добавить отступ подчеркивания от текста*/
	
	border-radius: 15px;
}

.main-navigation-item > a:hover {
	text-decoration: none;
	background: #f7f6f3;
	color: #333333;
}

.main-navigation-item > a:active {
	text-decoration: none;
	background: #f7f6f3;
	color: #333333;
	box-shadow: inset 0 2px 1px #696969;
}

.main-navigation-item > .active {
	background: #d07058;
	text-decoration: none;
}

.main-navigation-item > .active:hover {
	background: #d07058;
	text-decoration: none;
	color: white;
}






.main-navigation-catalog:hover .sub-menu {
	display: block;
}

/*Как подcветить пункт основного меню при наведении на подменю?/
/*Опустить подменю*/
/*Пункт "Новинки" подчеркивание и padding*/
.main-navigation-catalog .sub-menu {
	position: absolute;
	top: 25px;
	left: -7px;
	z-index: 30;
	
	width: 143px;
	
	background: #f8f7f4;
}

.sub-menu {
	padding-bottom: 8px;
	
	border-radius: 5px;
}

.sub-menu a {
	display: block;
	padding: 8px 9px 7px 20px;
	
	font: 14px / 16px "Roboto Regular", Helvetica, sans-serif;
	
	color: #323232;
	text-decoration: none;
}

.sub-menu a:hover {
	background: #fbded7;
}

.sub-menu a:active {
	background: #f6b5a5;
}

.sub-menu .active,
.sub-menu .active:hover,
.sub-menu .active:active {
	background: #d07058;
	color: white;
}

.sub-menu .sub-menu-header {
	margin: 0 9px 0 6px;
	padding: 10px 10px 12px 14px;
	
	font: 14px / 16px "Roboto Bold", Helvetica, sans-serif;
	
	border-bottom: 1px solid #d1d0ce;
}






.user-block {
	position: relative;
	
	float: right;
	margin-top: 14px;
	
	font: 14px / 16px "Roboto Medium", Helvetica, sans-serif;
}

.user-block .user-block-item {
	display: inline-block;
	vertical-align: middle;
	padding: 7px 0 9px 44px;
	margin-left: 5px;
	
	background: #9db1a5 no-repeat;
	border-radius: 15px;
}

.user-block .user-block-item:hover {
	background-color: #f7f6f3;
	color: #333333;
}

.user-block .search-toggle {
	padding: 16px;
	
	background-image: url(../img/search-icon.svg);
	background-position: center;
}

.user-block .search-toggle:hover {
	background-image: url(../img/search-icon-active.svg);
}

.user-block-item:hover + .user-block-form,
.user-block .search-form:hover,
.user-block .login-form:hover {
	position: absolute;
	z-index: 30;
	
	display: block;
	
	background: #f8f7f4;
}

/*Не подсвечивается кнопка поиска при наведении на форму*/
/*Опустить форму*/
.user-block .search-form {
	left: -162px;
		
	padding: 20px 15px;
	
	font: 14px / 24px "Roboto Regular", Helvetica, sans-serif;
	
	border-radius: 5px; 
}

.search-form input {
	width: 239px;
}

.user-block .login-toggle {
	padding-right: 17px;
	margin-left: 7px;
	
	background-image: url(../img/login-icon.svg);
	background-position: 16px center;
	text-decoration: none;
}

.user-block .login-toggle:hover {
	padding-right: 17px;
	margin-left: 7px;
	
	background-image: url(../img/login-icon-active.svg);
	background-position: 16px center;
}

/*Не подсвечивается кнопка входа при наведении на форму*/
/*Опустить форму*/
.user-block .login-form {
	left: -166px;
	
	width: 277px;
	padding: 20px 20px;
	
	font: 14px / 24px "Roboto Regular", Helvetica, sans-serif;
	
	border-radius: 5px; 
}

.login-form input {
	width: 239px;
	margin-bottom: 20px;
}

.login-form .recover,
.login-form .registration {
	margin-right: 15px;
	
	font: 13px / 24px "Roboto Regular", Helvetica, sans-serif;
	
	color: #323232;
	text-decoration-color: #323232;
}

.login-form .recover:hover,
.login-form .registration:hover,
.login-form .recover:active,
.login-form .registration:active {
	color: #e84d37;
	text-decoration-color: #e84d37;
}

.user-block .btn {
	float: left;
	padding: 10px 25px;
	margin-right: 20px;
	
	border-radius: 15px;
	color: #fefefe;
}

.user-block .bucket-empty-toggle,
.user-block .bucket-full-toggle {
	padding-right: 35px;
	
	background-position: 16px center;
	text-decoration: none;
}

.user-block .bucket-empty-toggle {
	background-image: url(../img/bucket-empty.svg);
}

.user-block .bucket-empty-toggle:hover {
	background-image: url(../img/bucket-empty-active.svg);
}

.user-block .bucket-full-toggle {
	background-image: url(../img/bucket-full.svg);
}

.user-block .bucket-full-toggle:hover {
	background-image: url(../img/bucket-full.svg);
}

.header-contacts {
	position: absolute;
	right: 0;
	z-index: 5;
}

.header-contacts p {
	margin: 0;
	margin-top: 20px;
	
	font: 14px / 16px "Roboto Bold", Helvetica, sans-serif;
	text-align: right;
	
	cursor: default;
}

.header-telephone {
	font: 22px / 24px "Roboto Black", Helvetica, sans-serif;
	
	cursor: default;
}









/*Сделать слайдер*/
.slider {
	background: url(../img/slider-icecream.png) no-repeat center;
}

.slider p {
	padding: 360px 200px 20px;
	margin: 0;
	
	font: 60px / 60px "Roboto Black", Helvetica, sans-serif;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	
	cursor: default;
}

.slider-controls {
	padding: 40px 0;
	
	text-align: center;
}

.slider-controls .slider-selectors {
	float: left;
	padding-top: 20px;
}

.slider-selectors .selector {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	margin-right: 4px;
	
	border: 3px solid white;
	border-radius: 50%;
}

.slider-selectors .selector:hover {
	background: #b2c1b7;
}

.slider-selectors .selected {
	background: white;
}

.slider-selectors .selected:hover {
	background: white;
}

.slider .btn {
	padding: 12px 40px;
	
	font: 32px / 44px "Roboto Bold", Helvetica, sans-serif;
	font-size: 32px;
	
	border-radius: 30px;
}








.stock {
	width: 520px;
	padding: 23px 20px;
	padding-top: 16px;
	margin-bottom: 40px;
	
	font: 18px / 22px "Roboto Bold", Helvetica, sans-serif;
	
	border-radius: 15px;
}

.stock .btn {
	float: right;
	padding: 10px 22px;
	margin-top: 27px;
	
	border-radius: 20px;
}

.stock h2 {
	margin-top: 0;
	margin-bottom: 14px;
	
	cursor: default;
}

.stock p {
	margin-top: 14px;
	
	font-size: 18px;
	
	cursor: default;
}

.raspberry {
	float: left;
	
	background: #940016 url(../img/stock-raspberry.jpg) no-repeat;
}

.chocolate {
	float: right;
	
	background: #4c2612 url(../img/stock-chocolate.jpg) no-repeat;
}








.products {
	margin-bottom: 40px;
}

.products ul {
	margin: 0px;
	padding: 0px;
}

.product {
	position: relative;
	
	float: left;
	width: 267px;
	margin-right: 26px;
}

.product:hover {
	z-index: 20;
}

.product:hover p {
	text-decoration: none;
	
}

.products li {
	margin-bottom: 40px;
} 

.product:nth-child(4n) {
	margin-right: 0;
}

.product-photo-container {
	width: 267px;
	height: 267px;
	margin-bottom: 10px;
	
	border-radius: 50%;
	overflow: hidden;
	
	background: green;
}

.product-price {
	position: absolute;
	bottom: 60px;
	
	font: 45px / 45px "Roboto Bold", Helvetica, sans-serif;
	
	cursor: default;
}

.product-price span {
	font: 30px / 45px "Roboto Bold", Helvetica, sans-serif;
}

.product p {
	margin: 0;
	
	font: 16px / 22px "Roboto Medium", Helvetica, sans-serif;
	text-align: center;
	white-space: normal;
	
	text-decoration: underline;
	-webkit-text-decoration-color: #9db1a5; /*Не работает в Chrome*/
	text-decoration-color: #9db1a5;
	/*Добавить отступ подчеркивания от текста*/
	cursor: default;
}

.hit-container {
	position: absolute;
	
	width: 61px;
	height: 61px;
	
	border-radius: 50%;
	overflow: hidden;
}

.product .hide-product-container {
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -10;
	
	width: 287px;
	padding: 350px 0 20px 0;
	
	text-align: center;
	
	background: #9db1a5;
	border-radius: 5px;
}

.product:hover .hide-product-container {
	display: block;
}








.features-container {
	margin-bottom: 40px;
	padding: 10px 30px;
	
	font: 16px / 22px "Roboto Regular", Helvetica, sans-serif;
	
	background: #f1e6d0 url(../img/features.jpg);
	border-radius: 15px;
	color: #323232;
}

.features-title {
	font: 24px / 30px "Roboto Medium", Helvetica, sans-serif;
}

.features-left-column {
	float: left;
}

.features-right-column {
	float: right;
}

.feature {
	width: 470px;
	padding-left: 70px;
	
	font-family: "Roboto Regular", Helvetica, sans-serif;
}

.feature p {
	margin: 0;
}

.feature-production {
	background: url(../img/feature-icecream.png) no-repeat;
}

.feature-natural {
	background: url(../img/feature-leaf.png) no-repeat;
}

.feature-cooperation {
	background: url(../img/feature-cow.png) no-repeat;
}

.feature-termopack {
	background: url(../img/feature-thermometer.png) no-repeat;
}






.advanced-options {
	margin-bottom: 40px;
}

.blog {
	float: left;
	width: 520px;
	padding: 0 20px;
	
	border-radius: 15px;
	background: white url(../img/blog.jpg) no-repeat;
	color: #323232;
}

.blog p {
	width: 300px;
	margin-bottom: 92px;
	
	font: 16px / 22px "Roboto Medium", Helvetica, sans-serif;
}

.blog a {
	font: 24px / 30px "Roboto Bold", Helvetica, sans-serif;
	
	color: #323232;
	text-decoration-color: #323232;
}

.blog a:hover,
.blog a:active {
	color: #e84d37;
	text-decoration-color: #e84d37;
}

.subscribe {
	float: right;
	width: 520px;
	padding: 0 20px;
	padding-top: 18px;
	
	font: 16px / 22px "Roboto Regular", Helvetica, sans-serif;
	
	border-radius: 15px;
	background: #f8f7f4 url(../img/subscribe.jpg) no-repeat;
	color: #5a5a5a;
}

.subscribe p {
	padding-right: 5px;
	margin-bottom: 35px;
}

.subscribe-form {
	margin-bottom: 39px;
	
	font: 16px / 24px "Roboto Regular", Helvetica, sans-serif;
}

.subscribe-form input[type="email"] {
	width: 326px;
	margin-right: 10px;
}







/*Вставить интерактивную карту*/
.map {
	height: 430px;
		
	color: #323232;
	background: url(../img/map.jpg) no-repeat;
	background-size: 100%;
}

.contacts-container {
	position: relative;
	
	width: 1146px;
	height: 430px;
	margin: 0 auto;
}

.map-contacts {
	position: absolute;
	top: 50px;
	right: 0;
	
	width: 250px;
	padding: 30px 25px;
	
	font: 14px / 20px "Roboto Regular", Helvetica, sans-serif;

	background: #fefefe;
	border-radius: 15px;
}

.contact-address span {
	font: 18px / 24px "Roboto Bold", Helvetica, sans-serif;
}

.contact-telephone span {
	font: 18px / 22px "Roboto Bold", Helvetica, sans-serif;
}

.feedback-form {
	position: fixed;
	top: 300px;
	left: 50%;
	z-index: 100;
	
	margin-left: -260px; /*Подправить*/
	padding: 15px 25px 5px;
	width: 477px;
	
	border-radius: 10px;
	background: #f8f7f4;
}

.feedback-form span {
	font: 24px / 28px "Roboto Medium", Helvetica, sans-serif;
	
	color: #323232;
}

.feedback-form form {
	position: relative;
	
	margin-top: 20px;
	font: 16px / 24px "Roboto Regular", Helvetica, sans-serif;
}

.feedback-form input,
.feedback-form textarea {
	margin-bottom: 20px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	width: 265px;
}

/*Сделать, чтобы размеры поля нельзя было поменять*/
.feedback-form textarea {
	width: 444px;
}

.feedback-form input[type="submit"] {
	float: right;
	
	border-radius: 25px;
}

.close-feedback-form {
	position: absolute;
	top: 5px;
	right: 5px;
	
	width: 40px;
	height: 40px;
	
	font-size: 0;
	
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: #f8f7f4;
}

.close-feedback-form::before,
.close-feedback-form::after {
	content: "";
	position: absolute;
	/*top: 9px;
	left: 1px;*/
	top: 20px;
	right: 5px;
	
	width: 30px;
	height: 4px;
	background-color: #323232;
	border-radius: 1px;
}

.close-feedback-form::before {
	transform: rotate(45deg);
}

.close-feedback-form::after {
	transform: rotate(-45deg);
}










.footer-social {
	float: left;
	padding-top: 35px;
}

.footer-social .social-btn {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	margin-right: 12px;
	
	font-size: 0;
	
	border: 3px solid #c2cec7;
	border-radius: 50%;
}

.social-btn-tw {
	background: url(../img/tweeter.svg) center no-repeat;
	opacity: 0.7;
}

.social-btn-tw:hover,
.social-btn-inst:hover,
.social-btn-fb:hover,
.social-btn-vk:hover {
	opacity: 1;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active {
	opacity: 1;
	box-shadow: inset 0 2px 2px #9b9b9b;
}

.social-btn-inst {
	background: url(../img/instagram.svg) center no-repeat;
	opacity: 0.7;
}

.social-btn-fb {
	background: url(../img/fb.svg) center no-repeat;
	opacity: 0.7;
}

.social-btn-vk {
	background: url(../img/vk.svg) center no-repeat;
	opacity: 0.7;
}






.footer-menu {
	float: left;
	padding-left: 150px;
	margin-top: 20px;
	
	text-align: center;
}

.footer-menu ul {
	list-style: none;
	
	font: 13px / 18px "Roboto Regular", Helvetica, sans-serif;
	-moz-column-count: 2;
	column-count: 2;
	text-align: left;
}

.footer-menu li {
	padding-left: 20px;
}

.footer-menu .for-providers {
	font: 13px / 18px "Roboto Bold", Helvetica, sans-serif;
	
	background: url(../img/heart.svg) no-repeat 0 center;
}




.copyright {
	float: right;
	padding-top: 20px;
}

.copyright p {
	margin: 0;
	
	font: 12px / 18px "Roboto Regular", Helvetica, sans-serif;
}






.breadcrumbs ul {
	margin: 0;
	padding: 0;
	
	font: 14px / 16px "Roboto Regular", Helvetica, sans-serif;
	column-count: 2;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs li:last-child a {
	text-decoration: none;
}






.filters {
	margin-bottom: 40px;
}

.filter-container > label,
.filter-container > span {
	margin-left: 15px;
	
	font: 14px / 16px "Roboto Medium", Helvetica, sans-serif;
}

.filter-container {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 16px;
}

.filter-container:nth-child(2) {
	width: 200px;
}

.filter {
	padding: 5px 20px;
	margin-top: 5px;
	
	border-radius: 20px;
	background: #aabab0;
}

.filter label,
.filter select {
	font: 16px / 18px "Roboto Medium", Helvetica, sans-serif;
	
	cursor: pointer;
}

.fill-filter label,
.fat-filter label {
	position: relative;
	
	margin-left: 21px;
	margin-right: 32px;
}

.fill-filter label:last-child,
.fat-filter label:last-child{
	margin-right: 0;
}

.filter input[type="checkbox"],
.filter input[type="radio"]{
	display: none;
}

.filter label .checkbox-indicator {
	position: absolute;
	left: -32px;
	
	width: 20px;
	height: 20px;
	
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.filter label .checkbox-indicator:hover,
.filter label:hover .checkbox-indicator {
	box-shadow: inset 0 0 0 2px #ffffff;
}

.filter input[type="checkbox"]:checked + label .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 4px;
	
	width: 5px;
	height: 2px;
	
	background: #ffffff;
	transform: rotate(45deg);
	border-radius: 1px;
}

.filter input[type="checkbox"]:checked + label .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 6px;
	
	width: 11px;
	height: 2px;
	
	background: #ffffff;
	transform: rotate(-45deg);
	border-radius: 1px;
}

.filter label .radio-indicator {
	position: absolute;
	left: -32px;
	
	width: 20px;
	height: 20px;
	
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.filter label .radio-indicator:hover,
.filter label:hover .radio-indicator {
	box-shadow: inset 0 0 0 2px #ffffff;
}

.filter input[type="radio"]:checked + label .radio-indicator::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	
	width: 10px;
	height: 10px;
	
	background: #ffffff;
	border-radius: 50%;
}

.filters .filter-container:last-child .filter {
	padding: 0;
	margin-top: 40px;
	
	border-radius: 20px;
	background: #aabab0;
}

.popularity-filter select {
	border: none;
	outline: none;
	background: #aabab0;
	color: white;
}

.price-filter {
	position: relative;
	
	padding: 14px 15px 5px 15px;
	height: 14px;
}

.price-filter .scale {
	height: 4px;
	
	background: #cbd4cd;
}

.price-filter .bar {
	margin-left: 20%;
	width: 50%;
	height: 4px;
	
	background: #f8f7f4;
}

.price-filter .toggle {
	position: absolute;
	top: 6px;
	left: 0;
	
	width: 20px;
	height: 20px;
	
	background: #f8f7f4;
	border-radius: 50%;
	cursor: pointer;
}

.price-filter .toggle-min {
	left: 39px;
}

.price-filter .toggle-max {
	left: 124px;
}

.filter .filter-submit {
	padding: 7px 45px;
	
	font: 16px / 18px "Roboto Medium", Helvetica, sans-serif;
	
	color: #fbfcfb;
	box-shadow: inset 0 0 0 2px #fbfcfb;
	background: #9cb0a4;
}

.filter .filter-submit:hover {
	color: #353535;
	background: #fbfcfb;
	box-shadow: inset 0 0 0 2px #fbfcfb;
}

.filter .filter-submit:active {
	color: #353535;
	background: #eaeaea;
	box-shadow: inset 0 2px 0 0 #8e8e8e;
}







.paginator {
	font: 16px / 18px "Roboto Medium", Helvetica, sans-serif;
	text-align: right;
}

.paginator a {
	display: inline-block;
	vertical-align: bottom;
	width: 25px;
	height: 22px;
	margin-left: 10px;
	padding-top: 3px;
	
	text-align: center;
	
	border-radius: 50%;
	text-decoration: none;
}

.paginator a:hover {
	background: #9db1a5;
	color: #ffffff;
}

.paginator .prev,
.paginator .next {
	position: relative;
	
	font-size: 0;
}

.paginator .prev::after,
.paginator .prev::before,
.paginator .next::after,
.paginator .next::before {
	content: "";
	position: absolute;
	
	width: 10px;
	height: 2px;
	
	border-radius: 1px;
	background: #ffffff;
}

.paginator .prev::after {
	top: 15px;
	left: 7px;
	
	transform: rotate(45deg);
}

.paginator .prev::before {
	top: 9px;
	left: 7px;
	
	transform: rotate(-45deg);
}

.paginator .next::after {
	top: 9px;
	right: 7px;
	
	transform: rotate(45deg);
}

.paginator .next::before {
	top: 15px;
	right: 7px;
	
	transform: rotate(-45deg);
}

.paginator .current,
.paginator .current:hover {
	background: #ffffff;
	color: #323232;
}

/*Убрать фон при наведении*/
.paginator .disabled {
	opacity: 0.5;
	cursor: default;
	background-color: transparent;
}

